<footer class="main-footer ">
	<div class="footer-content">
		<div class="container">
			<div class="footer-logo">
				<a href=""><img src="./assets/images/footer-logo.png" alt=""></a>
				<div class="footer-logo-text">Проект посвященный культурному наследию страны</div>
			</div>
			<div class="footer-menu">
				<ul>
					<li><a href="">Все места</a></li>
					<li><a href="">Все Города</a></li>
					<li><a href="">Добавить точку</a></li>
					<li><a href="">Служба поддержки</a></li>
					<li><a href="">Карта</a></li>
					<li><a href="">О проекте "Стены памяти"</a></li>
					<li><a href="">Внести изменения</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="under-footer">
		<div class="container">
			<div class="copyright">Ⓒ memorywalls.ru 2020</div>
			<div class="under-footer-links">
				<div class="under-footer-link"><a href="">Политика конфиденциальности</a></div>
				<div class="under-footer-link"><a href="">Карта сайта</a></div>
			</div>
			<div class="under-footer-socials">
				<div class="under-footer-socials-name">Мы в соц сетях:</div>
				<a href="" class="social"><img src="./assets/images/vk.png" alt=""></a>
				<a href="" class="social"><img src="./assets/images/instagram.png" alt=""></a>
				<a href="" class="social"><img src="./assets/images/facebook.png" alt=""></a>
			</div>
			<a class="is-art" href="">Разработано <img src="./assets/images/is-art.png" alt=""></a>
		</div>
	</div>
</footer>
<script src="./assets/js/vendors/jquery-3.2.0.min.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script src="./assets/js/bundle.js"></script>
</body>

</html>