<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link href="./assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
{# класс white используется на странице объекта и архиве #}
    <header class="main-header white">
     	<div class="main-header-top">
     		<div class="container">
     			<div class="main-header-top-menu">
     				<ul>
     					<li><a href="">Служба поддержки</a></li>
     					<li><a href="">Добавить точку</a></li>
     					<li><a href="">Контакты</a></li>
     				</ul>
     			</div>
     		</div>
     	</div>
     	<div class="main-header-bottom">
     		<div class="container">
     			<div class="main-header-logo"><a href=""><img src="./assets/images/logo.png" alt=""></a></div>
     			<div class="main-header-store">
     				<a href="" class="store-link"><img src="./assets/images/store-1.png" alt=""></a>
     				<a href="" class="store-link"><img src="./assets/images/store-2.png" alt=""></a>
     			</div>
     			<div class="main-header-bottom-menu">
     				<ul>
     					<li><a href="">Все места</a></li>
     					<li><a href="">Карта</a></li>
     					<li><a href="">Новости</a></li>
     					<li><a href="">О проекте</a></li>
     				</ul>
     			</div>
     		</div>
     	</div>

    </header>